@font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'HankenGrotesk', sans-serif;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    .header-section {
        background: rgb(120,87,255);
        background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 100%);
        border-radius: 0px 0px 32px 32px;
        display: grid;
        place-items: center;
        text-align: center;
        color: white;
        padding: 24px 60px 36px 60px;        
    }

    .header-section h4 {
        color: #C8C7FF;
        font-size: 18px;
        font-weight: 500;        
    }

    .header-section h1 {
        font-size: 56px;
    }

    .total-result { /* Circle Background Gradient*/
        background: rgb(78,33,202);
        background: linear-gradient(180deg, rgba(78,33,202,1) 0%, rgba(36,33,202,0) 100%);
        padding: 26px 40px;
        margin: 22px 0px;
        border-radius: 50%;
    }

    .total-result p {
        color: #857BFF;
        font-weight: 500;
    }

    .header-section h3 { /* Great Text*/
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 500;
    }

    .header-section p { /* Paragraph below Great header */
        color: #857BFF;
        font-weight: 500;
    }


/* Score Summary */

    .score-summary {
        padding: 0px 32px;
        margin-bottom: 40px;
    }


    .score-summary h4 { /* Summary Header */
        font-size: 18px;
        color: #303B5A;
        margin: 32px 0px;
    }

    .cards { /* All cards style */
        display: flex;
        align-items: center;
        justify-content: space-between;        
        padding: 16px;
        margin: 16px 0px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;        
    }

    .icon-label { /* Card icon and label alignment*/
        display: inline-flex;           
    }

    .icon-label img { /* All Cards icon */        
        padding-right: 12px;
    }

    .score-data h5{ /* Overall score /100 on cards */
        color: rgb(48, 59, 90, 0.5);
        font-weight: 500;
        font-size: 17px;

    }

    .bold-score { /* Bold score on cards */
        color: #303B5A;
        font-weight: 800;
    }

/* Reaction Card Style */
    .reaction-card { 
        background-color: rgba(225,87,87,0.05);
    }

    .reaction-card p {
        color: rgb(225,87,87);
    } 
/* Reaction Card Style END */


/* Memory Card Style */
    .memory-card { 
        background-color: rgba(225,176,31,0.05);
    }

    .memory-card p {
        color: rgb(225,176,31);
    } 
/* Memory Card Style END */


/* Verbal Card Style */
    .verbal-card { 
        background-color: rgba(0,189,145,0.05);
    }

    .verbal-card p {
        color: rgb(0,189,145);
    } 
/* Verbal Card Style END */


/* Visual Card Style */
    .visual-card { 
        background-color: rgba(17,37,212,0.05);
    }

    .visual-card p {
        color: rgb(17,37,212);
    } 
/* Visual Card Style END */

/* Button Style */
    .button-dark-blue-background {
        background-color: rgb(48,59,90);
        color: white;
        font-weight: 500;
        padding: 16px;
        border-radius: 32px;
        margin-top: 8px;
        width: 100%;
        font-size: 18px;
        outline: none;
        border: none;
    }

    a {
        text-decoration: none;
        color: white;
        outline: none;
    }

    footer {
        color: rgb(48,59,90) ;
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        padding: 0px 16px;
    }

    footer a {
        color:  rgb(48,59,90);
    }

    a:hover {
        text-decoration: underline;
    }

    footer .div-line {
        padding: 0px 8px;
    }


/* Desktop */
@media screen and (min-width: 830px) {

    body {
        display: grid;
        justify-content: center;
        margin-top: 64px;  
    }

    .score-container {
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;   
    }

    .score-background {
        display: inline-block;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 4px 32px rgba(200,199,255,0.4);
        margin-bottom: 64px;
        border-radius:32px;
        max-height: 512px;
    }

    .header-section {
        border-radius: 32px;
        max-width: 360px;
    }


/* Score Summary Section */
    .score-summary {        
        min-width: 360px;
    }

/* Button Desktop */
    .button-dark-blue-background {        
        margin-top: 24px;       
    
    }
/* Button Desktop HOVER*/
  
    .button-dark-blue-background:hover {        
        margin-top: 24px;  
        text-decoration: none;
        background: rgb(120,87,255);
        background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 100%);
        cursor: pointer;   
    }
/* Links Desktop HOVER*/   
    .button-dark-blue-background a:hover {
        text-decoration: none;
    }

    


}